<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
      <span>Beginer Angular</span>
      <button mat-button [routerLink]="['/products']" routerLinkActive="active">
          <mat-icon>format_quote</mat-icon>
          Product
      </button>
          
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>   
  