<form #form="ngForm" (submit)="onSave(form)" class="product-form">
    <mat-form-field>
        <textarea 
        name="title"
        matInput 
        placeholder="Enter Product" 
        [(ngModel)]="product.title"
        required
        #title="ngModel"
       ></textarea>
    </mat-form-field>
    <mat-error *ngIf="title.invalid && (title.touched || title.dirty)">
        Please Enter Product
    </mat-error>
    <mat-form-field>
        <input 
        name="description"
        matInput 
        placeholder="Enter Description"
        [(ngModel)]= "product.description"
        required
        #description="ngModel"
       >
    </mat-form-field>
    <mat-error *ngIf="description.invalid && (description.touched || description.dirty)">
        Please Enter Description
    </mat-error>
    <mat-form-field>
        <input 
        name="price"
        matInput 
        placeholder="Enter Price"
        [(ngModel)]= "product.price"
        required
        #price="ngModel"
       >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
</form>