<button mat-raised-button color="" [routerLink]="['/edit']">
    <mat-icon>node_add</mat-icon>Create Product
</button>
<mat-card class="product-card" *ngFor="let product of products">
    <mat-card-header>
        <div mat-card-avatar class="avatar" >
            <span></span>
        </div>
        <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card>{{product.description}}</mat-card>
        <mat-card>{{product.price}}</mat-card>
        <mat-card-title>{{product.status}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/edit', product._id]">Edit</button>
        <button mat-button color="warn" (click)="onDelete(product._id)">Delete</button>
    </mat-card-actions>
</mat-card>