.product-card {
    margin: 2rem;
}

.avatar {
    background: blue;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 9px;
        font-size: 24px;
        margin-top: -7;
}
.avatar .span {
    color: #ffffff;
    font-weight: bold;
}

.products-action {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width:768px)
{
    .product-card {
        widows: 600px;
    }
}

.create-product {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}